.title{
	text-align: center;
	margin-bottom: 20%;
}
.login>div>label{
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5rem;
}
.login>div>label input{
	height: .6rem;
	border: none;
	outline: none;
}
.submit{
	text-align: center;
}
.submit>button{
	display: inline-block;
	width: 2rem;
	height: .8rem;
	text-align: center;
	line-height: .8rem;
	border-radius: .4rem;
	font-size: 16px;
}

.send{
	position: fixed;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	height: .8rem;
	padding: .2rem;
	background-color: #ccc;
}
.send input{
	width: 80%;
	height: .4rem;
	outline: none;
	border: none;
}
.send button{
	width: 20%;
	height: .4rem;
}
ul{
	overflow: hidden;
	padding-bottom: 1rem;
}